@model tay.Models.employe_carte

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_test.cshtml";
}

<h2>Details</h2>

<div>
    <h4>employe_carte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarteModel.reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarteModel.reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employe.Nom_Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employe.Nom_Prenom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
